<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>  

<!-- main section -->
    <section class="about py-5 bg-light">
        <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">
                <img src="Assets/images/IMG_7308.JPG" class="img-fluid"> 
            </div>
            <div class="col-lg-7 pt-3">
            <h1>About Me.</h1>
            <p>WEB DEVELOPER</p>
            <p class="py-3">I am <span class="font-weight-bold">QueThi</span>, I am in class COMP 229, 
                I am in the third year of Software Engineering Technician. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eius optio ad exercitationem voluptatibus velit veniam assumenda vitae eveniet laborum quidem labore, 
                tenetur quo alias mollitia quos odit voluptatum? Quae, adipisci.
            </p>

            <div class="progress">
                <div class="pro-value1">
                <p>HTML/CSS <span class="text-white float-right">80%</span></p>
                </div>
            </div>
            <div class="progress my-3">
                <div class="pro-value2">
                <p>Javascript <span class="text-white float-right">80%</span></p>
                </div>
            </div>
            <div class="progress">
                <div class="pro-value3">
                <p>Bootstrap<span class="text-white float-right">80%</span></p>
                </div>
            </div>

            <input type="button" value="Dowload CV" class="btn1 mt-5">
            <input type="button" value="Contact Me" class="btn2 mt-5">
            </div>
        </div>
        </div>
    </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
