<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %> 

<section class="services py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center pb-5">Contact Me.</h1>
        <div class="row pb-3">
            <div class="col-lg-6 mb-3">
              <div class="card text-center">
                <div class="card-body">
                    <div class="circle">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h4 class="font-weight-bold pb-2">437-214-2088</h4>
                </div>
              </div>
            </div>
    
              <div class="col-lg-6 mb-3">
                <div class="card text-center">
                  <div class="card-body">
                      <div class="circle">
                        <i class="fa-brands fa-github"></i>
                      </div>
                      <h4 class="font-weight-bold pb-2"><a href="https://github.com/nguyenquethi">My GitHub</a></h4>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div class="card text-center">
                  <div class="card-body">
                      <div class="circle">
                        <i class="fa-brands fa-linkedin"></i>
                      </div>
                      <h4 class="font-weight-bold pb-2"><a href="https://www.linkedin.com/in/thi-nguyen-656608261/">My Linkedin</a></h4>
                  </div>
                </div>
              </div>
          </div>  
    </div>
  </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
