<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>   

    <!-- main section -->
    <section class="main py-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-6 py-5 mr-auto">
            <h3><small>Hello, I am</small><br>
              Que Thi
            </h3>
            <p>
              Hi there, and welcome to my home page. 
              As part of my graduation project, I decided to publish my latest projects and assignments on this site. 
              I’ve spent countless hours and sleepless nights putting it together and am very excited to share it with you. 
              Read on to find out more.
            </p>
            <a href="/about"><input type="button" value="About Me" class="bt1 mt-5"></a>
            <a href="/projects"><input type="button" value="My Project" class="bt2 mt-5"></a>
          </div>
        </div>
      </div>
    </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
