<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>   

<section class="portfolio py-5 bg-light">
    <div class="container text-center py-5">
        <h1 class="text-center pb-5">Projects.</h1>
        <div class="control">
            <ul>
                <li class="button">All</li>
                <li class="button">Brand</li>
                <li class="button">Design</li>
                <li class="button">Graphic</li>
            </ul>
        </div>
        <div class="row pt-3">
            <div class="col-lg-4">
                <div class="item">
                <img src="/Assets/images/project1.png" class="img-fluid" alt="">
                <h4 class="font-weight-bold pb-2 py-5">Workflows That Work</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                  </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item">
                <img src="/Assets/images/project2.png" class="img-fluid" alt="">
                <h4 class="font-weight-bold pb-2 py-5">Comprehensive Customer</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                  </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item">
                <img src="/Assets/images/project3.png" class="img-fluid" alt="">
                <h4 class="font-weight-bold pb-2 py-5">All-in-one Solution</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>