<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>  

<section class="services py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center pb-5">Services.</h1>
      <div class="row pb-3">
        <div class="col-lg-4 mb-3">
          <div class="card text-center">
            <div class="card-body">
                <div class="circle">
                    <i class="fas fa-desktop"></i>
                </div>
                <h4 class="font-weight-bold pb-2">Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                  <div class="circle">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                  </div>
                  <h4 class="font-weight-bold pb-2">Fully Responsive</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                  </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                  <div class="circle">
                    <i class="fa-solid fa-code"></i>
                  </div>
                  <h4 class="font-weight-bold pb-2">Development</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Repellendus praesentium, tempora, assumenda, quisquam excepturi hic officia distinctio inventore quos exercitationem aliquid neque.
                  </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>